<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <header th:fragment="header">
        <nav style="background:#333; padding:10px; display:flex; align-items:center; gap:20px;">

            <a th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="TransportCompany Logo"
                    style="height:70px; width:auto; border-radius: 50px;">
            </a>

            <!-- MENÚ -->
            <ul style="list-style:none; margin:0; padding:0; display:flex; gap:20px;">
                <li><a th:href="@{/clientes}" style="color:white; text-decoration:none;">Clientes</a></li>
                <li><a th:href="@{/pedidos}" style="color:white; text-decoration:none;">Pedidos</a></li>
                <li><a th:href="@{/almacenes}" style="color:white; text-decoration:none;">Almacenes</a></li>
                <li><a th:href="@{/productos}" style="color:white; text-decoration:none;">Productos</a></li>
                <li><a th:href="@{/rutas}" style="color:white; text-decoration:none;">Rutas</a></li>
                <li><a th:href="@{/vehiculos}" style="color:white; text-decoration:none;">Vehículos</a></li>
                <li><a th:href="@{/transportes}" style="color:white; text-decoration:none;">Transporte</a></li>
                <li><a th:href="@{/conductores}" style="color:white; text-decoration:none;">Conductores</a></li>




                <li><a th:href="@{/exportar/csv}" style="color:white; text-decoration:none;">Exportar CSV</a></li>
            </ul>

        </nav>
    </header>

</body>

</html>