<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Información almacén</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-4">
    
    <h1>Datos del almacén</h1>

    <table class="table table-striped">
        <tbody>
            <tr><th>Nombre</th><td th:text="${almacen.nombre}"></td></tr>
            <tr><th>Ubicación</th><td th:text="${almacen.ubicacion}"></td></tr>
            <tr><th>Capacidad Máxima</th><td th:text="${almacen.capacidadMaxima}"></td></tr>
        </tbody>
    </table>

    <a th:href="@{/almacenes}" class="btn btn-secondary">Volver</a>
</div>

<div class="container mt-5">
    <h2>Productos en este almacén</h2>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID Producto</th>
                <th>Nombre</th>
                <th>Stock</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="p : ${productos}">
                <td th:text="${p.idProducto}"></td>
                <td th:text="${p.nombre}"></td>
                <td th:text="${p.stock}"></td>
            </tr>

            <tr th:if="${productos.size()} == 0">
                <td colspan="3" class="text-center">No hay productos para este almacén.</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
